@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid black;
}
nav .barre {
  margin-top: 100px;
  margin-left: 300px;
}

nav .barre a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(background.jpg);
  background-size: cover;
  color: white;
  padding: 40px;
  font-size: 20px;
  text-align: center;
}
header h4 {
  border-bottom: 1px solid white;
}

.principale {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principale .contenue .agri .droite img {
  height: 300px;
  width: 400px;
  margin-top: 5px;
}
.principale .contenue .agri {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.principale .contenue .agri .gauche h1{
    border-bottom: 1px solid white;

}
.principale .contenue .agri .gauche {
  flex: 0 0 30%;
  border: 3px solid black;
  background-color: black;
  color: white;
}
.principale .contenue .agri.droite {
  flex: 0 0 70%;
}

.Menu {
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    flex-wrap: wrap;
    justify-content: center;
}

.Menu h1{
 border-bottom: 5px solid black;
}
    
.Menu img{
    height: 150px;

}

.Adresse {
    margin-top: 40px;
  display: flex;
  flex-direction: column;
  float: left;
  text-align: center;
  flex-wrap: wrap;

}

.Adresse .icon img{
    width: 80px;
    height: 60px;
    display: inline;
}
iframe {
    float:right;
    flex-wrap: wrap;
}


@media screen and (max-width: 680px) {
}
nav .barre {
  margin-left: 0px;
  margin-bottom: 20px;
}
